
<div class="mx-4 max-w-screen-xl sm:mx-8 xl:mx-auto">
  <div class="grid grid-cols-8 pt-3 pb-10 sm:grid-cols-10">
 



    <div class="col-span-8 overflow-hidden  rounded-xl sm:bg-gray-50 sm:px-8 sm:shadow">
      <div class="pt-4">
        <h1 class="py-2 text-2xl font-semibold">settings</h1>
        <!-- <p class="font- text-slate-600">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p> -->
      </div>
      <p class="py-2 text-xl font-semibold">My Account</p>
      <div class="space-y-1">
        <div class="rounded-md border bg-white">
          <div class="flex w-full items-center px-6 py-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
            </svg>
            <span> Yahyaoui Mohamed Aziz</span>
          </div>
          <div class="flex flex-col space-y-3 px-4 py-6 sm:px-10">
            <label class="block" for="name">
              <p class="text-sm">Name</p>
              <input class="w-full rounded-md border py-2 px-2 bg-gray-50 outline-none ring-purple-600 focus:ring-1" type="text" value="yahyaoui aziz" />
            </label>
            <label class="block" for="email">
              <p class="text-sm">Email</p>
              <input class="w-full rounded-md border py-2 px-2 bg-gray-50 outline-none ring-purple-600 focus:ring-1" type="email" value="yahyaouimohamedaziz2001@gmail.com" />
            </label>

            <button class="mt-4 ml-auto rounded-lg bg-purple-600 px-10 py-2 text-white">Save</button>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>